:root {
  --color-red: #ff6257;

  --color-very-dark-gray: #242742;
  --color-dark-gray: #36384e;
  --color-gray: #949494;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--color-dark-gray);
  color: var(--color-very-dark-gray);
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-basis: 85rem;
}

.sign-up-card {
  border-radius: 30px;
  background-color: white;
  padding: 2rem;
  display: flex;
}

.sign-up-img-box {
  border-radius: 15px;
  flex-basis: 45%;
  overflow: hidden;
}

.sign-up-img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sign-up-content {
  flex: 1;
  padding: 7rem 7rem 7rem 4rem;
}


.heading-primary {
  color: var(--color-dark-gray);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.text {
  color: var(--color-very-dark-gray);
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.list {
  list-style-type: none;
  color: var(--color-very-dark-gray);
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 3rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.8rem;
}

.icon-list {
  width: 1.9rem;
  height: 1.9rem;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control input {
  width: 100%;
  padding: 1.5rem 2rem;
  color: var(--color-very-dark-gray);
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: var(--primary-transparent-color);
  line-height: 1;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form .btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.5) !important;
}

.form-control label {
  display: block;
  color: var(--color-very-dark-gray);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: inherit;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.8rem 3.2rem;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: var(--color-dark-gray);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  line-height: 1;
}

.btn--primary {
  background: var(--primary-color);
  color: white;
}

.btn--primary:hover,
.btn--primary:active {
  background: var(--primary-shade-2-color);
}


/* Tablets, below 944px = 59em */
@media (max-width: 944px) {
  html {
    /* Decreases all rem values on the page. */
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .main {
    margin: 2rem;
  }

  .post {
    flex-direction: column;
  }

  .post-img-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  
  .post-footer {
    padding: 1.5rem 3.5rem;
  }

  .post-footer.show-tooltip {
    display: block;

    background-color: var(--color-very-dark-gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .post-footer.show-tooltip .author  {
    display: none;
  }

  .post-footer.show-tooltip .post-share {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-footer.show-tooltip .share-tooltip {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    padding: 0;

  }

  .post-footer.show-tooltip .share-tooltip::before {
    display: none;
  }

  .post-footer.show-tooltip .share-link {
    background-color: var(--color-dark-gray);
  }

  .post-footer.show-tooltip .share-link img {
    filter: brightness(100);
  }

}

/* Tablets, below 944px = 59em */
/* @media (max-width: 944px) {
  html {
    font-size: 50%;
  }
} */

/* Phones, below 550px = 34em */
/* @media (max-width: 550px) {

}*/
