:root {
  --color-white: #fff;

  --color-stone-100: #f3e6d8;
  --color-stone-150: #e4ded8;
  --color-stone-600: #5f574e;
  --color-stone-900: #302d2c;

  --color-brown-800: #854632;

  --color-rose-800: #7b284f;
  --color-rose-50: #fff5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--color-stone-100);
  color: var(--color-stone-600);
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-basis: 77rem;
  margin: 12rem 0;
}

.recipe {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.recipe-img-box {
  padding: 4.2rem 4.2rem 0 4.2rem;
}

.recipe-img {
  max-width: 100%;
  border-radius: 1.2rem;
}

.recipe-content {
  padding: 3.2rem 4.2rem;
}


.heading-primary {
  font-family: 'Young Serif', serif;
  color: var(--color-stone-900);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  letter-spacing: 0.5px;
}

.heading-secondary {
  font-family: 'Young Serif', serif;
  color: var(--color-brown-800);
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 3rem;
}

.list {
  margin-left: 1.8rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.list li {
  margin-bottom: 0.5rem;
}

.list li::marker {
  color: var(--color-brown-800);
  font-weight: 600;
}

ul.list li::marker {
  font-size: 1.4rem;
}

.list li > span {
  position: relative;
  left: 1.6rem;
}

.divider {
  border: none;
  border-top: 1px solid var(--color-stone-150);
  margin-bottom: 3rem;
}

.table {
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
}

.table tr th,
.table tr td {
  border-bottom: 1px solid var(--color-stone-150);
  text-align: left;
  padding: 0.8rem 2.4rem;
  width: 50%;
}

.table tr th {
  font-weight: 400;
}

.table tr td {
  font-weight: 600;
  color: var(--color-brown-800);
}



.info-box {
  border-radius: 1.2rem;
  padding: 2rem 2.2rem;
  background-color: var(--color-rose-50);
  margin-bottom: 3rem;
}

.info-box-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-rose-800);
  margin-bottom: 1.5rem;
}

.info-box-list {
  margin-left: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-stone-600);
}

.info-box-list li {
  margin-bottom: 0.5rem;
}

.info-box-list li:last-child {
  margin-bottom: 0;
}

.info-box-list li::marker {
  color: var(--color-rose-800);
  font-size: 1.4rem;
}

.info-box-list li > span {
  position: relative;
  left: 1.6rem;
}

strong {
  font-weight: 600;
}

.text-centered {
  text-align: center;
}

.mb-1 {
  margin-bottom: 2.4rem;
}

.mb-2 {
  margin-bottom: 3.2rem;
}

.mb-3 {
  margin-bottom: 4.8rem;
}

.mb-4 {
  margin-bottom: 6.4rem;
}


/* Landscape tablets, below 1200 = 75em */
/* @media (max-width: 1200px) {

} */


/* Tablets, below 944px = 59em */
@media (max-width: 944px) {
  html {
    /* Decreases all rem values on the page. */
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .main {
    margin: 0;
    flex: 1;
  }

  .recipe {
    border-radius: 0;
    padding: 0;
  }

  .recipe-img-box {
    padding: 0;
  }

  .recipe-img {
    border-radius: 0;
  }

  .recipe-content {
    padding: 2.8rem 3.2rem;
  }


}

/* Tablets, below 944px = 59em */
/* @media (max-width: 944px) {
  html {
    font-size: 50%;
  }
} */

/* Phones, below 550px = 34em */
/* @media (max-width: 550px) {

}*/
