:root {
  --color-white: #fff;

  --color-violet: #7541c8;
  --color-dark-gray: #48556a;
  --color-very-dark-gray: #19212e;
  --color-gray: #cfcfcf;
  --color-light-gray: #ecf2f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-basis: 116rem;
  padding: 0 3rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.testimonial-card:nth-child(1) {
  grid-column: 1 / span 2;
}

.testimonial-card:nth-child(4) {
  grid-row: 2;
  grid-column: 2 / span 2;
}

.testimonial-card:nth-child(5) {
  grid-row: 1 / span 2;
  grid-column: 4;
}

.testimonial-card {
  padding: 3rem;
  border-radius: 10px;
}

.card-purple {
  background-color: var(--color-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-position: right 75px top;
  background-repeat: no-repeat;
  color: white;
}

.card-purple .customer-name,
.card-purple .testimonial-text {
  opacity: 0.95;
}

.card-purple .text-muted {
  opacity: 0.7;
}

.card-gray {
  background-color: var(--color-dark-gray);
  color: white;
}

.card-gray .customer-name,
.card-gray .testimonial-text {
  opacity: 0.9;
}

.card-gray .text-muted {
  opacity: 0.7;
}

.card-dark-gray {
  background-color: var(--color-very-dark-gray);
  color: white;
}

.card-dark-gray .customer-name,
.card-dark-gray .testimonial-text {
  opacity: 0.85;
}

.card-dark-gray .text-muted {
  opacity: 0.7;
}

.card-white {
  background-color: white;
  color: var(--color-dark-gray);
}

.card-white .customer-name,
.card-white .testimonial-text {
  opacity: 0.95;
}

.card-white .text-muted {
  opacity: 0.7;
}

.customer {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 1.6rem;
}

.customer-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.customer-name {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
}

.customer-verification {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
}

.testimonial-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

.testimonial-quote {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
}


.text-centered {
  text-align: center;
}

/* Tablets, below 944px = 59em */
@media (max-width: 944px) {
  html {
    /* Decreases all rem values on the page. */
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .main {
    margin: 10rem 0;
  }

  .header {
    margin-bottom: 8rem;
  }

  .header-box {
    padding: 0 3.5rem;
  }

  .heading-primary {
    font-size: 2.6rem;
  }

  .subheading {
    font-size: 2.4rem;
  }

  .card-container {
    flex-direction: column;
    align-items: initial;
    padding: 0 3.5rem;
  }

  .card-box {
    flex-direction: column;
  }

}

/* Phones, below 550px = 34em */
/* @media (max-width: 550px) {

}*/
