:root {
  --color-dark-cyan: #4d96a8;
  --color-dark-cyan-transparent: rgba(77, 150, 168, 0.8);
  --color-dark-violet: #845eb0;

  --color-light-cyan: #90e4f9;
  --color-light-violet: #d9b8ff;

  --color-dark-gray: #373752;
  --color-gray: #86869c;
  --color-light-gray: #86869c40;
  --color-very-light-gray: #fafafa;

  --color-cyan-tint: #72c1d5;
  --color-violet-tint: #b28cde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: var(--color-very-light-gray);
  color: var(--color-dark-gray);
  min-height: 100vh;
}


/**********************/
/* GENERAL COMPONENTS */
/**********************/

.heading-primary {
  color: var(--color-dark-gray);
  font-size: 6.5rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 4rem;
}

.gradient {
  background: linear-gradient(92.19deg, #855FB1 -15.84%, #4D96A9 114.64%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.4;
  color: var(--color-dark-cyan);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  color: var(--color-dark-gray);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.text {
  color: var(--color-gray);
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 2rem 3.5rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1;
}

.mb-1 {
  margin-bottom: 2.4rem;
}

.mb-2 {
  margin-bottom: 3.2rem;
}

.mb-3 {
  margin-bottom: 4.8rem;
}

.mb-4 {
  margin-bottom: 6.4rem;
}

.text-centered {
  text-align: center;
}



/**********************/
/* HEADER */
/**********************/

.header {
  display: flex;
  justify-content: center;
}

.logo-box {
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}



/**********************/
/* HERO */
/**********************/

.hero-container {
  flex-basis: 140rem;
  padding-bottom: 10rem;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-content {
  padding: 1.5rem 0;
}

.hero-img-left-box,
.hero-img-right-box {
  max-width: 30%;
}

.hero-img-left-box {
  content: url(../images/desktop/image-hero-left.png);
  align-self: flex-start;
}

.hero-img-left-box:hover {
  content: url(../images/desktop/image-hero-left-hover.png);
}

.hero-img-right-box {
  content: url(../images/desktop/image-hero-right.png);
  align-self: flex-end;
}

.hero-img-right-box:hover {
  content: url(../images/desktop/image-hero-right-hover.png);
}

.hero-img-mobile-box {
  display: none;
}

.hero-text {
  color: var(--color-gray);
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-cyan {
  color: white;
  background-color: var(--color-dark-cyan);
}

.btn-cyan > span {
  color: var(--color-light-cyan);
}

.btn-cyan:hover,
.btn-cyan:active {
  background-color: var(--color-cyan-tint);
}

.btn-violet {
  color: white;
  background-color: var(--color-dark-violet);
}

.btn-violet > span {
  color: var(--color-light-violet);
}

.btn-violet:hover,
.btn-violet:active {
  background-color: var(--color-violet-tint);
}



/**********************/
/* DIVIDER */
/**********************/

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.relative {
  position: relative;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider-overlapping {
  margin-bottom: -25px;
}

.divider-content {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--color-gray);
  background-color: var(--color-very-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 100px;
  width: 5.5rem;
  height: 5.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

.divider-line {
  height: 4rem;
  width: 1px;
  border-left: 1px solid var(--color-light-gray);
}


/**********************/
/* ABOUT */
/**********************/

.about-container {
  flex-basis: 110rem;
  padding: 10rem 0 6rem 0;
}

.about-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem;

  margin-bottom: 6rem;
}

.about-img-box {
  border-radius: 8px;
  overflow: hidden;
}

.about-img {
  display: block;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.about-img:hover {
  scale: 1.05;
  filter: saturate(2);
}

.about-content-container {
  display: flex;
  justify-content: center;
}

.about-content {
  flex-basis: 50rem;
  text-align: center;
}


/**********************/
/* FOOTER */
/**********************/

.footer {
  background-image: url(../images/desktop/image-footer.jpg);
  background-size: cover;

}

.footer-wrapper {
  background-color: var(--color-dark-cyan-transparent);

  display: flex;
  justify-content: center;

}

.footer .heading-secondary {
  color: white;
  margin-bottom: 0;
}

.footer .text {
  color: white;
  margin-bottom: 0;
}

.footer-container {
  flex-basis: 110rem;
  padding: 12rem 0;

  display: flex;
  align-items: center;
  gap: 6rem;
}

/* Landscape tablets, below 1200 = 75em */
@media (max-width: 1200px) {
  .hero-container {
    justify-content: center;
    gap: 5rem;
  }

  .hero-content {
    max-width: 50rem;
  }

  .hero-img-left-box {
    display: none;
  }

  .hero-img-right-box {
    max-width: 35%;
    align-self: center;
  }
}

/* Tablets, below 944px = 59em */
@media (max-width: 944px) {
  html {
    /* Decreases all rem values on the page. */
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-img-left-box,
  .hero-img-right-box {
    display: none;
  }

  .hero-img-mobile-box {
    display: block;
    max-width: 100%;
    content: url(../images/tablet/image-hero.png);
  }
  
  .hero-img-mobile-box:hover {
    content: url(../images/tablet/image-hero-hover.png);
  }

}

/* Phones, below 550px = 34em */
@media (max-width: 550px) {
  .about-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
