:root {
  --color-blue: #5847eb;

  --color-orange-work: #ff8c66;
  --color-blue-play: #56c2e6;
  --color-red-study: #ff5c7c;
  --color-green-exercise: #4acf81;
  --color-violet-social: #7536d3;
  --color-yellow-self-care: #f1c65b;
  
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #6f76c8;
  --color-pale-blue: #bdc1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.8rem;
  background-color: var(--color-very-dark-blue);
  color: white;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-basis: 100rem;
}

.report-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}


.report-card {
  grid-row: 1 / span 2;
  background-color: var(--color-dark-blue);
  border-radius: 13px;
}

.user-card {
  background-color: var(--color-blue);
  padding: 3rem 3rem 7rem 3rem;
  border-radius: 13px;
}

.user-img-box {
  margin-bottom: 2.5rem;
}

.user-img {
  width: 7rem;
  height: 7rem;
  border-radius: 100px;
  border: 3px solid white;
}

.period-nav {
  padding: 2.5rem 3rem;
}

.user-full-name {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-top {
  background-position: right 1rem top -1rem;
  background-size: 6.5rem;
  background-repeat: no-repeat;

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding-top: 5rem;
}

.card-content {
  flex: 1;
  
  margin-top: -13px;
  padding: 2.5rem;
  background-color: var(--color-dark-blue);
  border-radius: 13px;
}

.work-card .card-top {
  background-color: var(--color-orange-work);
  background-image: url(../images/icon-work.svg);
}

.play-card .card-top {
  background-color: var(--color-blue-play);
  background-image: url(../images/icon-play.svg);
}

.study-card .card-top {
  background-color: var(--color-red-study);
  background-image: url(../images/icon-study.svg);
}


.exercise-card .card-top {
  background-color: var(--color-green-exercise);
  background-image: url(../images/icon-exercise.svg);
}

.social-card .card-top {
  background-color: var(--color-violet-social);
  background-image: url(../images/icon-social.svg);
}

.self-care-card .card-top {
  background-color: var(--color-yellow-self-care);
  background-image: url(../images/icon-self-care.svg);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

.text-secondary {
  color: var(--color-pale-blue);
  font-size: 1.4rem;
  font-weight: 400;
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.nav-list .nav-link:link,
.nav-list .nav-link:visited {
  color: var(--color-pale-blue);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:active {
  color: white;
}

.nav-list .nav-link.active {
  color: white;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control input {
  width: 100%;
  padding: 1.3rem 2rem;
  color: var(--color-very-dark-gray);
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid #bbb;
  border-radius: 7px;
  transition: all 0.3s;
  background-color: var(--primary-transparent-color);
  line-height: 1;
}

.form-control input:focus {
  outline: 1px solid var(--color-very-dark-gray);
}

.form-control input::placeholder {
  color: var(--color-gray)
}

.form-control input.has-error {
  border: 1px solid var(--color-red);
  background-color: var(--color-red-transparent);
}

.form-control .form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.form-control label {
  color: var(--color-very-dark-gray);
  font-size: 1.2rem;
  font-weight: 700;
}

.form-error {
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: 700;
}

.btn {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height: 1;
}

.btn-secondary {
  height: 2.8rem;
  width: 2.8rem;
  background: none;
  color: white;
}

.btn-secondary:focus {
  outline: 1px solid white;
}

.btn-icon {
  width: 1.8rem;
}


/* Tablets, below 944px = 59em */
/* @media (max-width: 944px) {

} */

/* Tablets, below 944px = 59em */
@media (max-width: 944px) {
  html {
    /* Decreases all rem values on the page. */
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }


}

/* Tablets, below 944px = 59em */
/* @media (max-width: 944px) {
  html {
    font-size: 50%;
  }
} */

/* Phones, below 550px = 34em */
/* @media (max-width: 550px) {

}*/
